@font-face {
    font-family: 'georgiaregular';
    src: url('/fonts/georgia-webfont.woff2') format('woff2'),
         url('/fonts/georgia-webfont.woff') format('woff'),
         url('/fonts/georgia-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'a3_arial_rusnormal';
    src: url('/fonts/a3arialrusnormal-webfont.woff2') format('woff2'),
         url('/fonts/a3arialrusnormal-webfont.woff') format('woff'),
         url('/fonts/a3arialrusnormal-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;

}